<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleCollapse()" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DMTB</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse" [class.collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Activity</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" (ngSubmit)="onConnect()" #serverConfigForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="http://localhost" name="ip" ngModel required>
          <input type="number" class="form-control" placeholder="8080" name="port" ngModel required>
        </div>
        <button style="margin-left: 5px" [disabled]="!serverConfigForm.valid || disableButton" type="submit" class="btn btn-default">Test Server Status</button>
      </form>
      <div class="container" *ngIf="serverStatus === 'online'">
        <img class="img-responsive" src="assets/greenLed.png" style="width: 15px;height: 15px;float: right">
        <p class="navbar-text navbar-right">{{ serverStatus | uppercase}}</p>
      </div>
      <div class="container" *ngIf="serverStatus === 'offline' || serverStatus.substring(0,6) === 'status'">
        <img class="img-responsive" src="assets/redLed.png" style="width: 15px;height: 15px;float: right">
        <p class="navbar-text navbar-right">{{ serverStatus | uppercase}}</p>
      </div>
      <div class="container" *ngIf="serverStatus === 'UNKNOWN'">
        <img class="img-responsive" src="assets/yelloLed.png" style="width: 15px;height: 15px;float: right">
        <p class="navbar-text navbar-right">{{ serverStatus | uppercase}}</p>
      </div>
    </div>
  </div>
</nav>
